@import './fonts/Gilroy/stylesheet.css';
@import './reset.css';

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

/* Header */
/*.none {
    display: none;
}
*/

.header {
    min-height: 100vh;
    background-color: #EAF3F6;
    background-image: url("./../img/header/background.jpg");
    background-size: cover;
    background-position: center center;

}

.header-top {
    margin-bottom: 126px;
    padding: 44px 0; 
    
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

/* Link */
.link {
    color: #114455;
    font-size: 20px;
    font-weight: 800;
}

.btn {
    border: 1px solid #114455;
    border-radius: 2px;

    padding: 10px 24px;
    display: inline-block;

    color: #114455;
    font-size: 20px;
    font-weight: 800;
    position: relative;

    padding-right: 72px;

    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.btn:hover, .btn:focus {
    background-color: #114455;
    color: white;
}

.btn:active {
    top: 1px;
}

.btn:hover::after {
    background-image: url(./../img/header/Arrow\ Right\ White.svg);
}

.btn--dark:hover, .btn:focus {
    background-color: #072129;
}

.btn::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;


    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url(./../img/header/Arrow\ Right\ Black.svg);
    background-position: center;
}

.btn--big {
    padding: 14px 32px;
    padding-right: 80px;
} 

.btn--dark {
    background-color: #114455;
    color: white;
}

.btn--dark::after {
    background-image: url(./../img/header/Arrow\ Right\ White.svg);
}

/* Header-content */
.header-content {
    max-width: 1060px;
}

.header-title {
    max-width: 734px;
    font-weight: 800;
    font-size: 80px;
    color: #114455;
    margin-bottom: 48px;
}

.header-text {
     font-size: 34px;
     color: #1f1f1f;
}

.header-text p + p {
    margin-top: 1em;
}

.header-btn {
    padding-top: 72px;
}

/* CASE STUDIES */

.case-studies {
    padding: 184px 0;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin:0 auto;
}

.container-right {
    padding-left: calc((100% - 1750px) / 2 + 15px);
}

.case-studies__title {
    margin-bottom: 12px;
}

.title {
    font-size: 80px;
    font-weight: 800;
    color: #1f1f1f;
}

.case-studies__text {
    margin-bottom: 100px;
    max-width: 1070px;
}

.text {
    font-size: 28px;
    line-height: 1.57;
    color:#1f1f1f;
}

/* SLIDER */

.slider {
    
}

.slider-item {
    
}

/* slide */

.slide {
    display: inline-block;
    position: relative;
    padding-left: 80px;
    
}

.slide_title {
    position: absolute;
    left: 0;
    bottom: 104px;

    font-size: 140px;   
    font-weight: 800;
    background: linear-gradient(90deg, rgba(17,68,85,1) 80px, rgba(255,255,255,1) 80px);;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide_img {
    
}

/* Video */

.about {
    padding: 144px 0;
}

.about_title {
    max-width: 1070px;
    margin-bottom: 12px;
}

.about_text {
    max-width: 1070px;
    margin-bottom: 78px;    
}

.about_content {

}

.video {
    position: relative;
}

.video::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 68, 85, 0.527);
}

.video-picture {
    position: absolute;
    left: 0;
    top: 0;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}   

.video-object {
    width: 100%;
}

.footer {
    padding: 162px 0 82px;
    letter-spacing: 0.04em;
    font-size: 20px;
    line-height: 1.8;    
    color: hsla(0, 0%, 12%, 0.7);
}

.footer a {
    letter-spacing: 0.04em;
    font-size: 20px;
    line-height: 1.8;    
    color: hsla(0, 0%, 12%, 0.7);
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    
}

.footer-nav {
    display: flex;
    column-gap: 104px;

}

.footer-email {

}

.footer-socials {
    display: flex;  
    column-gap: 26px;
}

